{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <div class="container mt-5">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" name="username" class="form-control" id="id_username" required>
            </div>
            <div class="form-group">
                <label for="id_password">Password</label>
                <input type="password" name="password" class="form-control" id="id_password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="button" onclick="register()" class="btn btn-secondary">Register Here</button>
        </form>
        <script>
            function register(){
                window.location.href = "{% url 'register' %}";
            }
        </script>
    </div>

{% endblock %}
