<style>
    #project-sideview{
        width: 100%;
        /* background-color: rgb(67, 61, 139); */
        padding: 10px;
        border: 2px solid rgb(67, 61, 139);;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
</style>
<div id="project-sideview">
        <h2>{{ project.name }}</h2>
        <p>Owner: {{ project.owner }} </p>
        
        {% if project.project_tags.all %}
              {% for t in  project.project_tags.all %}
              <p class="btn btn-success"> {{ t }}</p> 
               {% endfor %} 
          {% else %}
          No tags
          {% endif %}

        <p>Start Date: {{ project.start_date }}</p>
        <p>End Date: {{ project.end_date }}</p>
        <p>Date Created: {{ project.created_at.date }}</p>
        <p>Date Updated: {{ project.updated_at.date }}</p>

        <a href="{% url 'project_update' pk=project.pk %}" class="btn btn-primary">Update Project</a>



        
    </p>
</div>